@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import './colors.scss';

/*
Some boilerplate styles for making the currently utilized UI components match our palette.
 */
body {
  margin-top: 10%;
    background: $color-primary-1;
    font-size: 4em;
    font-family:'Playfair Display', serif;
  #main-container {
    color: $rgba-complement-4;
    text-align: center;

    button.btn {
      font-size:100%;
      background: $color-primary-0;
      color: $color-complement-4;
      margin:30px 10px;
    }
  }
}

.btn-default {
background: red;
}
